<h1>Create a new show</h1>

<form method="POST" action="/shows/new-show">

  <label>Title</label>
  <input type="text" name="showTitle"/>

  <label>Year</label>
  <input type="number" name="year"/>

  <label>Description</label>
  <input type="text" name="description"/>

  <label>Genre</label>
  <input type="text" name="genre"/>

  <label>Image</label>
  <input type="text" name="image"/>

  <label>Cast</label>
  <input type="text" name="cast"/> 

  <label>Director</label>
  <input type="text" name="director"/>

  <button type="submit">Create the new show 🎬</button>

</form>
